/*FOOTER*/
footer.footer{
    height: 443px;
    border:1px solid black;
    /* background-color: rgb(156, 137, 112); */
    background-color: #111115;
}

.footer-container{
    /* display: flex;
    justify-content: center; */

    /* max-width: 1160px;
    height: 443px; */
    padding-top: 41px;
    padding-bottom: 50px;
    /* border:1px solid red; */

}

.footer-content-row{
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    max-width: 1160px;
}

.row1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 125px;
    max-width: 1160px;
    /* border:1px solid blue; */
}

.form-wrapper{
    width: 367px;
}

.footer-logo{
    width: 82px;
    height: 52px;
}

.footer-logo img:nth-child(2){
    display: none;
}


.row1 .subtitle{
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 216px;
}

.form > input {
    border-color: rgba(249, 128, 75, 1);
    background-color: transparent;
    line-height: 22.4px;
    text-align: left;
    vertical-align: top;
    width: 228px;
    height: 42px;
    padding: 10px 7px 10px 10px;
    margin-right: 10px;
    color: #BDBDBD;
    border: 1px solid rgba(249, 128, 75, 1);
    border-radius: 5px;
  }

  .form button {
    background-color: #F1F3F2;
    line-height: 22.4px;
    text-align: left;
    vertical-align: top;
    width: 129px;
    height: 42px;
    padding: 10px 39px ;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(51, 59, 65, 1);
    border-radius: 5px;
  }

  .form button:active {
    background-color: rgba(241, 243, 242, 1);
    line-height: 22.4px;
    text-align: left;
    vertical-align: top;
    width: 129px;
    height: 42px;
    padding: 10px 39px ;
    color: #4B9200;
    border: 1px solid #4B9200;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }


.row2{
    display: flex;
    justify-content: start;
    height: 54px;
    max-width: 1160px;
    /* border:1px solid blue; */
    margin-bottom: 44px;
}

.footer-button{
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.row3{
    display: flex;
    justify-content: left;

    height: 134px;
    max-width: 1160px;
    /* border:1px solid blue; */
}

.media-wrapper{
    width: 111px;
    margin-right: 288px;
}

.facebook{
    display: flex;
    justify-content: left;

    width: 111px;
    height: 26px;
    margin-bottom: 10px;
}

.facebook >img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.facebook p{
    line-height: 22px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 1px;
}

.twitter{
    display: flex;

    width: 111px;
    height: 26px;
    margin-bottom: 10px;
}

.twitter >img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.twitter p{
    line-height: 22px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 1px;
}

.instagram{
    display: flex;

    width: 111px;
    height: 26px;
    margin-bottom: 10px;
}

.instagram >img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.instagram p{
    line-height: 22px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 1px;
}

.youtube{
    display: flex;

    width: 111px;
    height: 26px;
}

.youtube >img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.youtube p{
    line-height: 22px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 1px;
}

nav.footer-nav {
    display: flex;
    align-items: flex-end;

    font-weight: 400;

    color: #ffffff;
  }

  nav.footer-nav ul {
    display: flex;

  }

  nav.footer-nav li:not(:last-child) {
    margin-right: 57px;
  }

  nav.footer-nav a {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    transition: color 0.1s ease;
  }

  nav.footer-nav>ul>li:first-child {
    color: orange;
  }

  nav.footer-nav ul li a:hover {
    color: orange;
  }

.author-school-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: 172px;
}

.author, .school{
    font-weight: 100;
    line-height: 20.8px;
    text-align: left;
    vertical-align: top;
    color:rgba(255, 255, 255, 1);
    margin: 0;
}

.author{
margin-bottom: 10px;
}
/*//FOOTER*/

 @media screen and (max-width: 1440px) {
    .footer-content-row{
        /* max-width: 1160px; */
    }

    .media-wrapper{
        margin-right: 0;
    }

    .author-school-wrapper{
         margin-left: 0;
    }
    .row3{
        justify-content: space-between;
    }
    }

@media screen and (width: 1000px) {
        .row1{
            justify-content: left;
            height: 120px;
        }
        .footer-logo{
            margin-right: 458px;
        }

        .row3{
            justify-content: left;
        }
        .media-wrapper{
            margin-right: 179px;
        }
        .footer-nav{
            margin-right:88px;
        }
        nav.footer-nav li:not(:last-child) {
            margin-right: 48px;
        }
    }

@media screen and (max-width: 999px) {
        footer.footer{
            height: 282px;
        }
        .footer-container{
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .row1{
            height: 85px;
        }
        .row2{
            margin-bottom: -15px;
        }
        .row3{
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
        }
        .form-wrapper{
            display: none;
        }
        .media-wrapper{
            order:3;
            align-self: start;
            margin-left: 73px;
            margin-bottom: 42px;
        }

        .media-wrapper p{
            display: none;
        }
        .facebook{
            justify-content: end;
            margin-bottom: 20px;
        }
        .facebook img{
            margin-right: 0;
        }
        .twitter{
            justify-content: end;
            margin-bottom: 20px;
        }

        .twitter img{
            margin-right: 0;
        }
        .instagram{
            justify-content: end;
            margin-bottom: 20px;
        }
        .instagram img{
            margin-right: 0;
        }

        .youtube{
            justify-content: end;
        }
        .youtube>img{
            margin-right: 0;
        }
        nav.footer-nav{
            order:2;
        }
        nav.footer-nav li:not(:last-child) {
            margin-right: 37px;
        }
        .footer-button {
            width: 298px;
            height: 54px;
        }
    }
@media screen and (max-width: 639px) {
    footer.footer{
        height: 334px;
        /* padding-top: 20px;
        padding-bottom: 20px; */
        overflow-x: hidden;
    }
    .footer-container{
        height: 334px;
        padding: 0;

    }
    .footer-content-row{
    justify-content: flex-start;
    padding-top: 18px;
    padding-bottom: 20px;
    }
    .row1{
        display: flex;
        justify-content:center;
        /* height: 70px; */
    }
    .footer-logo{
        width: 126px;
        /* height: 86px; */
    }
    .footer-logo img:nth-child(1){
        display: none;
    }
    .footer-logo img:nth-child(2){
        display: block;
    }
    .row2{
        justify-content:center;
        padding-top: 26px;
        /* padding-bottom: 40px; */
    }
    .media-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: 95px;
        justify-content: end;
    }
    .row3{
        flex-wrap: wrap-reverse;
        align-content: center;
justify-content:space-between;
        padding-bottom: 20px;
    }

    .facebook{
        width: 26px;
        margin-right: 30px;
        /* margin-bottom: 30px; */
        margin-top: -20px;
    }
    .twitter{
        width: 26px;
        margin-right: 30px;
        margin-top: -20px;
    }
    .instagram{
        width: 26px;
        margin-right: 30px;
        margin-top: -20px;
    }
    .youtube{
        width: 26px;
        margin-right: 60px;
        margin-top: -20px;
    }
    .footer-nav{
        order:1;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        /* margin-top: 30px; */
    }
    nav.footer-nav li:not(:last-child) {
        margin-right: 30px;
      }
    .author-school-wrapper{
        order:2;
        margin-right: 10px;
        /* margin-bottom: 10px; */
        font-size: 15px;
        line-height: 18px;
        font-weight: 100;
    }
    .author-school-wrapper p:nth-child(2){
        margin-bottom: 20px;
    }

}