section.home{
    position:relative; /*Parent element*/
    height: 700px;
}

.home-content{

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    padding: 86px 0px 214px 660px;
    /* background-color: rgb(240, 214, 214); */
    /* border: 1px solid rgb(56, 32, 163); */

}

.home-heading{
    position:relative;


    font-weight: 700;
    font-size: 106px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.home-heading span{
    color:#FFEE2E;
}

.ellipse-wrapper{
    position: absolute;
    bottom: 9px;
    right: 108px;
    width: 465px;
    z-index: -1;
}

.ellipse-wrapper img{
    width: 100%;
}

.home-button{
    display: flex;
    justify-content: center;
    margin-left: 6px;
}

.home-bg-image{
    position: absolute; /* child element */
    left: 0;
    top: 0;
    width: 100%;
    height:700px;
    background: rgb(148, 143, 143); /*complemantary background  before image will be loaded */
    z-index: -2;
}

.home-bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}