

section.pets{
    padding-top: 180px;
    padding-bottom: 100px;
}

.pets-cards-container{
    display: flex;
    flex-direction: column;
}

/**/
.cards-row-one{
    display: flex;
    justify-content: space-between;
    margin-bottom: -21px;
}

.row-between-cards{
    display: flex;
    justify-content: space-between;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: orange;
  }

.left{
    margin-left: -82px;
}

.left:active{
    content: url(../../../assets/icons/arrow-ellipse-left-green.svg);

}

.right{
    margin-right: -82px;
}

.right:active{
    content: url(../../../assets/icons/arrow-ellipse-right-green.svg);
}

.cards-row-two{
    display: flex;
    justify-content: space-between;
    margin-top: -21px;
}

.pet-card{
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: 1px solid #FA6F32;
    order: 0;
}

.pet-card > img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.pet-card > img:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: 0.1s ease-in-out;
}

.card-content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 8px 12px 14px 16px;
    height: 60px;
}

.card-content-container:hover{
    background-color: rgba(241, 243, 242, 1);
    transition: 0.1s ease-in-out;

}


p.name{
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

p.location{
    height: 18px;
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
    color: #000000;
    margin-top: 0;
}

p.name:hover{
    font-size: 105%;
    transition: 0.1s ease-in-out;
}

.card-icon-container{
    width: 33px;
    height: 37px;
}

.card2 .card-icon-container,
.card5 .card-icon-container,
.card6 .card-icon-container{
    width: 48px;
    height: 38px;
    margin-right: -4px;
}

.card-icon-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pets-button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .9}
    to {opacity: 1}
  }

@media screen and (max-width: 1440px) {
    section.pets{
        padding-top: 142px;
        padding-bottom: 140px;
    }
    .pet-card{
        width: 294px;
        height: 354px;
    }

    .cards-row-one{
        margin-bottom: 15px;
    }
    .row-between-cards{
        justify-content: center;
        margin-bottom: 15px;
    }

    .left{
        margin-right: 85.5px;
    }

    .right{
        margin-left: 85.5px;
    }
    .cards-row-two{
        margin-top: 0px;
    }
}

@media screen and (max-width: 999px) {
    section.pets{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .pet-card{
        width: 285px;
        height: 332px;
    }
    p.name{
        height: 17.5px;
        font-size: 12.5px;
    }

    p.location{
        height: 14px;
        font-size: 12px;
    }
    .card-icon-container{
        width: 26px;
        height: 29px;
    }
    .card2 .card-icon-container,
    .card5 .card-icon-container,
    .card6 .card-icon-container{
        width: 38px;
        height: 30px;
        margin-right: -4px;
}

    .cards-row-one{
        /* width: 315px; */
        margin-bottom: 15px;
    }
    .card3{
        display: none;
    }

    .row-between-cards{
        justify-content: center;
        margin-bottom: 15px;
    }

    .left{
        margin-right: 15px;
    }

    .right{
        margin-left: 15px;
    }
    .cards-row-two{
        margin-top: 0px;
    }
    .card6{
        display: none;
    }
    .pets-button{
        margin-top: 60px;
    }
}

@media screen and (max-width: 639px) {
.pets-cards-container{
    margin-left: 5px;
}
    section.pets{
        padding-bottom: 60px;
        padding-top: 40px;
    }
    .cards-row-one{
        flex-direction: column;
    }
    .card1,
    .card4{
        margin-bottom: 20px;
    }
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6{
        align-self: center;
    }
    .cards-row-two{
        flex-direction: column;
    }
    .row-between-cards{
        display: none;
    }
    .pets-button{
        margin-top: 20px;
        /* margin-left: auto;
        margin-right: auto; */
    }
}

