
.button,
a.button {

    width: 298px;
    height: 54px;
    background-color: #F9804B;
    color: #FFFFFF;;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 25px;
    padding: 16px 0;
    text-transform: uppercase;
}



.button:hover,
a.button:hover{
    background-color:#E47209;
    transition: 0.1s s ease-in-out;
}

.button:active,
a.button:active{
    background-color:#4B9200;
    transition: 0.1s ease-in-out;
}

.button:disabled,
a.button:disabled{
    background-color:#767474;
}

.squared-button,
a.squared-button {

    width: 298px;
    height: 54px;
    background-color: #F9804B;
    color: #FFFFFF;;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    padding: 16px 0;
    text-transform: uppercase;
}

.squared-button:hover,
a.squared-button:hover{
    background-color:#E47209;
    transition: 0.1s ease-in-out;

}

.squared-button:active,
a.squared-button:active{
    background-color:#4B9200;
    transition: 0.1s ease-in-out;
}

.squared-button:disabled,
a.squared-button:disabled{
    background-color:#767474;
}

