/*--HEADER--*/
header.header {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.header-row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-row h1{
  display: none;
}

.header-logo {
    margin-right: 63px;
  }

  .header-logo img:nth-child(2),
  .header-logo img:nth-child(3){
    display: none;
  }


nav.header-nav {
  display: flex;
  font-weight: 500;

  color: #ffffff;
  margin-right: 438px;
}

nav.header-nav ul {
  display: flex;
}

nav.header-nav li:not(:last-child) {
  margin-right: 58px;
}

nav.header-nav a {
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  vertical-align: top;
  transition: color 0.1s ease;
}

nav.header-nav>ul>li:nth-child(4) {
  color: orange;
}

nav.header-nav ul li a:hover {
  color: orange;
}

.header-copyright {
  color: #ffffff;
  margin-left: auto;
  width: 105px;
  height: 22px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}

.header-copyright:hover {
  color: orange;
}

i.hamburger-menu{
  color: #ffffff;
  display: none ;
}

nav.hamburger-nav{
  display: none;
}
.overlay{
  display: none;
}

/*--//HEADER--*/


@media screen and (max-width: 1440px) {
  .header-row {
    display: flex;
    justify-content: space-between;
  }

  .header-logo{
    margin-right: 0;
    /* margin-left: 30px; */
  }

  nav.header-nav{
    margin-right: 0;
  }

  nav.header-nav li:not(:last-child) {
    margin-right: 48px;
  }
}

@media screen and (max-width:1000px) {

  .header-row {
    display: flex;
    justify-content: space-between;
  }

  .header-logo{
    margin-right: 63px;
  }

  nav.header-nav{
    margin-right: 259px;
  }

  nav.header-nav li:not(:last-child) {
    margin-right: 48px;
  }

  .header-copyright{
    /* margin-right: 30px; */
  }
}

@media screen and (max-width:999px) {

  .header-row {
    display: flex;
    justify-content: space-between;
  }

  .header-logo{
    margin-right: 0;
  }

  nav.header-nav{
    margin-right: 0;
  }

  nav.header-nav li:not(:last-child) {
    margin-right: 18px;
  }

  .header-copyright{
    /* margin-right: 30px; */
  }
}

@media screen and (width: 640px){
  header.header{
    padding: 2px;
    position: sticky;
    top: 0;
    z-index: 100;
    }
  .header-logo{
    display: flex;
    /* margin-left: 20px; */
    width: 47px;
    height: 30px;
    border: none;

  }

  .header-logo img:nth-child(1),
  .header-logo img:nth-child(3){
    display: none;
    width: 100%;
  }

  .header-logo img:nth-child(2){
    display: block;
  }

  nav.header-nav{
    display: none;
  }

  .header-copyright{
    display: none;
  }


  /*hamburger-menu*/
  i.hamburger-menu{
    display: block;
    position: relative
  }

  nav.hamburger-nav{
    display: none;


    background:#ffffff;
    position: absolute;
    right: 0;
    top: 26px;
    color:rgba(51, 59, 65, 1);
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    z-index: 5;
  }

  nav.hamburger-nav > ul{
    display: flex;
    flex-direction: column;
    width: 600px;

  }

  nav.hamburger-nav > ul li{
    padding: 5px;
  }

  nav.hamburger-nav > ul li:hover{
    background-color: #f1f1f1;
    transition: all 0.1s ease-in-out 0s;
  }
  nav.hamburger-nav > ul li:active{
    color:#E47209;
    transition: 0.1s s ease-in-out;
  }

  .overlay{
    position: fixed;
    /* opacity: 0; */
    display: none;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

.overlay.active{
    /* opacity: 1; */
    display: block;
    pointer-events: all;
}
   /*//hamburger-menu*/

}

@media screen and (max-width: 639px){
  header.header{
    padding: 2px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-row{
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .header-logo{
    display: flex;
    /* margin-left: 20px; */
    width: 47px;
    height: 30px;
  }

  .header-logo img:nth-child(1),
  .header-logo img:nth-child(3){
    display: none;
    width: 100%;
  }

  .header-logo img:nth-child(2){
    display: block;
  }

  nav.header-nav{
    display: none;
  }

  .header-copyright{
    display: none;
  }


   /*hamburger-menu*/
   i.hamburger-menu{
    display: block;
    position: relative
  }

  nav.hamburger-nav{
    display: none;


    background:#ffffff;
    position: absolute;
    right: 0;
    top: 26px;
    color:rgba(51, 59, 65, 1);
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
    z-index: 5;
  }

  nav.hamburger-nav > ul{
    display: flex;
    flex-direction: column;
    width: 295px;

  }

  nav.hamburger-nav > ul li{
    padding: 3px;
  }

  nav.hamburger-nav > ul li:hover{
    background-color: #f1f1f1;
    transition: all 0.1s ease-in-out 0s;
  }
  nav.hamburger-nav > ul li:active{
    color:#E47209;
    transition: 0.1s s ease-in-out;
  }

  .overlay{
    position: fixed;
    /* opacity: 0; */
    display: none;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

.overlay.active{
    /* opacity: 1; */
    display: block;
    pointer-events: all;
}
   /*//hamburger-menu*/

}

@media screen and (max-width: 320px){
  .header-row{
    margin-left: 10px;
    margin-right: 10px;
  }
}
