section.home{
    position:relative; /*Parent element*/
    height: 390px;
}

.home-bg-image{
    position: absolute; /* child element */
    left: 0;
    top: 0;
    width: 100%;
    height: 390px;
    background: rgb(148, 143, 143); /*complemantary background  before image will be loaded */
    z-index: -2;
}

.home-bg-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-bg-image img:nth-child(2){
    display: none;
}

@media screen and (max-width:1000px) {
    .home-bg-image>img{
        display: none;

    }
    .home-bg-image img:nth-child(2){
        display: block;
    }
}

@media screen and (max-width:640px) {
    section.home{
        height: 335px;
    }
    .home-bg-image{
        height: 335px;
    }
}
@media screen and (max-width:320px) {
    section.home{
        height: 187px;
    }
    .home-bg-image{
        height: 187px;
    }
}